// Place all the styles related to the Gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered {
  margin: 0 auto;
}

.crop {
  height: 200px;
  margin-bottom: 30px;
  overflow: hidden;
  width: 200px;
}
